body{
    background-color: rgb(150,206,199) !important;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 6;
}

#stick{
    height: 1.5em;
    width: 100%;
    background-color: rgb(241,241,242);
}

#advert img{
    height: 4em;
    width: 100%;
}

#jumia{
    height: 4em;
    width: 100%;
    background-color: white;
    /* position: sticky ;
    position: -webkit-sticky;
    top: 0;
    z-index: 5; */
}

#Align{
    /* padding-top: -60px; */
    /* padding-top: -50px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo img{
    height: 5em;
    width: 9em;
}

.div{
    height: 2.5em;
    width: 40%;
    background-color: white;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px 0 8px;
}

#inpts input{
    height: 2.5em;
    width: 30em;
    background: transparent;
    border: none;
    outline: none;
}

.searchs button{
    height: 2.5em;
    border: none;
    border-radius: 5px;
    background-color: rgb(246,139,30);
    color: white;
}

#right{
    width: 20em;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

#right button{
    height: 2.5em;
    border: none;
    background: transparent;
    font-size: 17px;
}

#one {
    height: 70vh;
    width: 100%;
}

#flexs{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: center !important; */
    margin-top: 20px !important ;
    margin: auto;
    width: 90%;
}

#first{
    height: 25em;
    /* width: 5em; */
    background-color: white;
    flex-grow: 1;
    flex-basis: 200;
    border-radius: 5px;
}

#second{
    height: 25em;
    width: 25em ;
    /* background-color: red; */
    background-image: url(Desktop_Homepage_Slider__712x384.jpg);
    flex-grow: 1;
    flex-basis: 200;
    border-radius: 5px;
    background-size: cover;
}

/* #second img{
    height: 25em;
    width: 40em ;
    border-radius: 5px;
} */

#third{
    height: 12em;
    /* width: 5em; */
    background-color: white;
    flex-grow: 1;
    flex-basis: 200;
    border-radius: 5px;
}

#thirdd{
    height: 12em;
    margin-top: 13em;
    /* background-color: white; */
    background-image: url(shop_earn.png);
    background-size: cover;
    flex-grow: 1;
    flex-basis: 200;
    border-radius: 5px;
}

/* #prod{
    height: fit-content;
    width: 60%;
    background-color: red;
}

#prod img{
    height: 50px;
    width: 10%;
    background-color: red;
} */


